@using HealthFit.Models.ViewModels;
@model ChangePasswordViewModel;

@{
	ViewData["Title"] = "Change Password";
	Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="account-container">
	<div class="account-box">
		<h2 class=" text-center mb-4">Đổi Mật Khẩu</h2>
		<form asp-action="ChangePassword" method="post">
			<div asp-validation-summary="ModelOnly" class=" text-danger">
			</div>
			<div class="md-3">
				<label asp-for="Email" class="form-label"></label>
				<input asp-for="Email" class="form-control" readonly />
			</div>
			<div class="md-3">
				<label asp-for="NewPassword" class="form-label"></label>
				<div class="password-wrapper" style="position:relative;">
					<input asp-for="NewPassword" class="form-control" id="NewPassword" />
					<span class="toggle-password animation-eyes" toggle="#NewPassword">
						<i class="fa fa-eye"></i>
					</span>
				</div>
				<span asp-validation-for="NewPassword" class="text-danger"></span>
			</div>
			<div class="md-3">
				<label asp-for="ConfirmNewPassword" class="form-label"></label>
				<div class="password-wrapper" style="position:relative;">
					<input asp-for="ConfirmNewPassword" class="form-control" id="ConfirmNewPassword" />
					<span class="toggle-password animation-eyes" toggle="#ConfirmNewPassword">
						<i class="fa fa-eye"></i>
					</span>
				</div>
				<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
			</div>
            <input type="hidden" name="token" value="@ViewBag.Token" />

			<input type="submit" value="Submit" class="btn btn-succes w-100 p-2 type-change login-center" />


		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}