SystemAdmin﻿@{
    ViewData["Title"] = "Customer Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Customer page</h1>
</div>

<a asp-action="BMICalculator" asp-controller="Home" class="btn btn-outline-info mt-3">BMI Calculator</a>