@using HealthFit.Models.Models.VNPay
@{
	ViewData["Title"] = "Kết quả thông tin giao dịch Vnpay";
}

<div class="container">
	<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
		<div class="col-lg-12 d-block">
			<!-- Sửa ở đây -->
			<div class="text-center py-4">
				<p>Bạn đã mua hàng thành công</p>
				<a href="/" class="btn btn-primary mt-2">Về trang chủ</a>
			</div>
		</div>
	</div>
</div>


	