@using HealthFit.Models.ViewModels
@model OTPVerificationViewModel

@{
    ViewData["Title"] = "Xác nhận OTP";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Xác nhận mã OTP</h2>
        <form asp-action="VerifyOTP" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="md-3">
                <label asp-for="OTP" class="form-label"></label>
                <input asp-for="OTP" class="form-control" maxlength="6" />
                <span asp-validation-for="OTP" class="text-danger"></span>
            </div>
            
            <input type="hidden" asp-for="Email" />
            
            <input type="submit" value="Xác nhận" class="btn btn-succes w-100 p-2 type-change login-center" />
            
            <div class="text-center mt-3">
                <a asp-controller="Account" asp-action="ResendOTP" asp-route-email="@Model.Email" class="text-decoration-none">
                    Gửi lại mã OTP
                </a>
            </div>
            <div class="text-center mt-2">
                <a asp-controller="Account" asp-action="Login" class="text-decoration-none mt-3">Trở lại đăng nhập</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} 